.App {
  text-align: center;
  background-image: none;
}

.h1 {
  font-size: 3em;
  color: rgb(84, 66, 104);
}

.h2 {
  font-size: 2em;
}

.Link {
  appearance: none;
  outline: none;
  border: 0;
  border-radius: 10px;
  margin-left: 10px;
  font-size: 1em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  font-weight: bold;
  cursor: pointer;
  background: #e7e6f8;
  border-bottom: 3px solid var(--purple);
  padding-right: 0px;
  transition: 0.3s;
}

.Link:hover {
  background-color: white;
}

.Button {
  background-color: #6A8E7F;
  color: #b3ecd5;
  border-color: black;
  border: 0;
  border-radius: 4em;
  margin-left: 0.5em;
  font-weight: bold;
  height: 3.23em;
  width: 7em;
  transition-duration: 0.3s;
}

.Button:hover {
  background-color: #ffffff; /* Green */
  color: black;
}

.Input {
  padding: 1em;
  background-color: rgb(255, 255, 255);
  border-color: black;
  border: 0;
  border-radius: 4em;
}

.Message {
  background-color: white;
  border: 1em;
  border-color: black;
  border-radius: 0.5em;
  font-size: xx-large;
  font-weight: bolder;
  margin: 10%;
  padding: 2%;
  height: auto;
  width: auto;
}

.small {
  padding-top: 20px;
  font-size: medium;
}

.Warning {
  background-color: rgb(255, 56, 56);
  margin-top: 1em;
  margin-left: 23em;
  margin-right: 23em;
  border-width: 1em;
  border-radius: 10px;
  padding: 1em;
  font-size: 1.5em;
  font-weight: bolder;
  color: white;
}